---
import GitHub from "../icons/GitHub.astro";
---

<header>
  <ul>
    <li><a href="#experience">Experiencia</a></li>
    <li><a href="#projects">Proyectos</a></li>
    <li><a href="#aboutme">Sobre m&iacute;</a></li>
    <li><a href="#contact">Contacto</a></li>
    <GitHub/>
  </ul>
</header>
