---
import ThemeToggle from "./ThemeToggle.astro";
import { navLinks } from "../data/data";
---

<header class="fixed top-0 z-10 flex justify-center w-full mt-2">
  <nav
    class="flex items-center px-3 font-medium text-sm text-gray-600 dark:text-gray-200"
  >
    {
      navLinks.map((navLink) => (
        <a
          class="transition hover:text-blue-500 dark:hover:text-blue-500 p-2"
          href={navLink.href}
        >
          {navLink.text}
        </a>
      ))
    }

    <ThemeToggle />
  </nav>
</header>
